/* Waybar styling */

* {
    background: #1d1f21;
    color: white;
    padding: 10px;
}

.bar {
    background: #282a2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background: #5f5a60;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.button:hover {
    background: #666;
}